* {
  margin: 0;
  font-family: "Roboto";
}

*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #95acda;
}

*::-webkit-scrollbar-thumb {
  background-color: #95acda;
  border-radius: 10px;
  border: 2px double #0a0303;
}

html {
  background-color: #95acda;
}

body {
  margin: 10px;
  border-radius: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px 8px rgba(110, 110, 110, 0.5);
  box-shadow: 0px 0px 15px 8px rgba(110, 110, 110, 0.5);
}

nav {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0px 5px 15px 3px rgba(110, 110, 110, 0.5);
  box-shadow: 0px 5px 15px 3px rgba(110, 110, 110, 0.5);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 10px 80px;
}

.nav-img {
  height: 55px;
  z-index: 1;
  cursor: pointer;
}

.search-container {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  height: 40px;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: #ada9a96c;
}

input {
  padding-left: 15px;
  width: 250px;
}

.button-search-img {
  height: 35px;
  cursor: pointer;
}

h1 {
  font-size: 36px;
}

.space {
  width: 75px;
}

#pokedex {
  min-height: 50vh;
  background-color: #fb6c6c;
  color: white;
  display: flex;
}

.d-none {
  display: none;
}

.info-container {
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: -40px;
  min-height: 100px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  border-radius: 15px;
  margin: 20px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.71);
  box-shadow: 0px 0px 14px 5px rgba(0, 0, 0, 0.71);
  cursor: pointer;
  box-shadow: inset 5px 5px 50px #5e4545;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  border-bottom: 1px solid #808796e0;
}

.card-content {
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
  width: 150px;
}

.load-more{
  display: flex;
  justify-content: center;
  padding: 0 80px 40px 80px;
}

button{
  border: none;
  border-radius: 15px;
  padding: 15px;
  color: white;
  background-color: #95acda;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

.pokeName{
  border-radius: 15px;
  padding: 4px 6px;
  text-align: center;
  font-size: 16px;
  color: black;
}
.pokeId{
  border-radius: 15px;
  padding: 4px 6px;
  text-align: center;
  font-size: 16px;
  color: black;
}
.pokeType{
  border-radius: 15px;
  padding: 4px 6px;
  text-align: center;
  background-color: #808796e0;
  font-size: 12px;
  color: white;
}

.pokeTypeContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box-shadow-grass{
  box-shadow: inset 5px 5px 50px #22963b;
}
.box-shadow-fire{
  box-shadow: inset 5px 5px 50px #FA6555;
}
.box-shadow-water{
  box-shadow: inset 5px 5px 50px #76BDFD;
}
.box-shadow-electric{
  box-shadow: inset 5px 5px 50px #FFD970;
}
.box-shadow-poison{
  box-shadow: inset 5px 5px 50px #ae63b2;
}
.box-shadow-ground{
  box-shadow: inset 5px 5px 50px #baa76d;
}
.box-shadow-rock{
  box-shadow: inset 5px 5px 50px #545454;
}
.box-shadow-ghost{
  box-shadow: inset 5px 5px 50px #5a0096;
}
.box-shadow-ice{
  box-shadow: inset 5px 5px 50px #38eeff;
}
.box-shadow-normal{
  box-shadow: inset 5px 5px 50px #929292;
}
.box-shadow-bug{
  box-shadow: inset 5px 5px 50px #24ddaf;
}
.box-shadow-fighting{
  box-shadow: inset 5px 5px 50px #7c0b0b;
}
.box-shadow-fairy{
  box-shadow: inset 5px 5px 50px #b421c2;
}
.box-shadow-psychic{
  box-shadow: inset 5px 5px 50px #c0a407;
}
.box-shadow-dragon{
  box-shadow: inset 5px 5px 50px #4e07c0;
}
.box-shadow-dark{
  box-shadow: inset 5px 5px 50px #130130;
}
.box-shadow-steel{
  box-shadow: inset 5px 5px 50px #5a5e5d;
}

/* FOTOGALERIE */

.d-none {
  display: none;
}

.close-img {
  height: 20px;
  cursor: pointer;
}

.img-load-head {
  display: flex;
  justify-content: flex-end;
  padding: 60px 60px 0 0;
  background-color: rgba(0, 0, 0, 0);
}

.content-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

.img-load-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.img-load-arrows {
  height: 40px;
  margin: 30px;
  cursor: pointer;
  z-index: 99;
  background-color: black;
  padding: 20px;
  border-radius: 15px;
}

.img-click {
  z-index: 99;
  height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
}

.img-load {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poke-content{
  width: 60%;
  height: 80%;
  background-color: black;
  border-radius: 15px;
}

.card-big{
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  border-radius: 15px;
}