*{
    margin: 0;
}


html{
    background-color: #95acda;
}

body{

    margin: 10px;
    /* border: 1px solid red; */
    height: calc(100vh - 22px);
    border-radius: 15px;
    background-color: white;
    
}

nav{
    height: 15%;
    border: 1px solid red;
}



#pokedex{
    min-height: 50vh;
    background-color: #FB6C6C;
    color: white;
    display: flex;
}

/* Open-Sans einbinden */

.info-container{
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;   
    margin-top: -40px;
    min-height: 100px;
}